#menu li {
  display: inline;
  margin-right: 100px;
}
#menu li a {
  text-decoration: none;
  color: none;
    font-size: 25px;
    font-family: italic;
    padding-top: 300px;
  } 

#menu li a:hover {
  background-color: lightgray;
}

#div2 {
    background-color: none;
    font-family: sans-serif;
    width: 1900px;
    height: 700px; /* Ajusta la altura según sea necesario */
    margin: 0px;
    padding-top: 100px;
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}
.content{
    font-family: sans-serif;
}

#pie-pag {
    background: none;
    height: 250px;
    width: 100%;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

#div2 h1{
    text-align: center;
    padding-top: 0px;
    font-style: italic;
    color: white;
}
#div2 p{
    text-align: justify;
    font-size: 20px;
    font-family: italic;
    padding-left: 70px;
    padding-right: 70px;
}
#div2 h2{
    color: white;
    font-size: 20px;
    font-family: italic;
}
  

#pie-pag{     
    background: none;
    height: 250px;
    width: 100%; 
     font-style: italic;
    color: white;
}
#listaredes li{    
    display: inline-flex; 
    padding-left: 0px;
    margin-right: 0px;
    transition: transform 0.3s ease;
}
#listaredes{
    float: right;
    padding-left: 0px;
    padding-top: 10px
}
#listaredes img{
    height: 50px;
    width: 50px;
}
#listaredes li:hover{
    transform: scale(1.3);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el menú */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: none;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: black;
}

/* Estilos para el menú desplegable */
.submenu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu li {
    float: none;
    display: block;
    text-align: left;
     background-color: black;
}

.submenu li a {
    padding: 12px 16px;
    color: black;
    display: block;
}

.submenu li a:hover {
    background-color: none;
}

.menu li:hover .submenu {
    display: block;
}

#navegador-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #922b21; /* Color de fondo de la barra de navegación */
    overflow: hidden;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

#navegador-fixed a {
    float: left; /* Alinea los elementos a la izquierda */
    display: block; /* Los convierte en elementos de bloque */
    color: white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 14px 16px; /* Espaciado interior (arriba y abajo, izquierda y derecha) */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

#navegador-fixed a img {
    vertical-align: middle; /* Alinear verticalmente la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

#navegador-fixed a:hover {
    background-color: black; /* Color de fondo al pasar el ratón */
    color: black; /* Cambia el color del texto al pasar el ratón */
}

/* Agrega un margen superior al resto del contenido para evitar que se solape con el navegador */
body {
    margin-top: 0px; /* Ajusta según el tamaño de la barra de navegación */
}
#navegador-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 1000%;
    height: 50px; 
    background-color: #333; /* Fondo negro */
    overflow: hidden;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}
#divimg {
    float: left;
    margin-right: 0px;
    background-color: transparent; /* Fondo negro */
    padding: 30px; /* Añade un poco de espacio entre la imagen y el borde */
}

#divimg img {
    width: 80px; /* Ajusta el ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 53.5px 100px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: none;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu li {
    float: none;
    display: block;
    text-align: left;
}

.submenu li a {
    padding: 10px 10px;
    color: none;
    text-decoration: none;
    display: block;
}

.submenu li a:hover {
    background-color: #ddd;
}

.menu li:hover .submenu {
    display: block;
}
